<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - boilerplate_dotnetcore_mvc_react</title>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <environment names="Development">
      <script src="http://localhost:8081/bundle.js"></script>
    </environment>
    <environment names="Staging,Production">
      <script src="~/dist/js/bundle.js"></script>
    </environment>
</body>
</html>